html,
body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}






/* INTERFACE */


div#interface {
  /* background-color: rgba(0, 0, 255, 0.455); */
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}



.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 2px;
  margin: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /* background-color: rgb(240, 240, 137); */
  background: radial-gradient(118.45% 118.45% at -7.04% -11.48%, #721965 0%, #f2a008 80%, #e6bc15 100%);
  font-weight: 900;

  transition: transform 0.2s;
}


.button:hover {
  transform: scale(1.01);
}




.button-true {
  background: #4CAF50;
  color: white;
}

.button-false {
  background: #f44336;
  color: white;
}



.question-container {
  margin-bottom: 20px;
}

.true-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.false-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}



div#storyline {
  width: -webkit-fill-available;
  margin: 20px;
  height: 100%;
  background-color: rgb(206, 206, 117);
  display: flex;

}